{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaOptions": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "serviceworker": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "never"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "global-require": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "no-console": 0,
    "no-else-return": 0,
    "no-new": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-prototype-builtins": 0,
    "no-return-await": 0,
    "no-use-before-define": 0,
    "no-unused-vars": 0,
    "no-restricted-globals": 0,
    "react/no-access-state-in-setstate": 0,
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/no-did-mount-set-state": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "react/self-closing-comp": 0,
    "react/prefer-stateless-function": 0,
    "spaced-comment": 0
  }
}
